### Exercise 1: Import the required modules for working with SQLAlchemy and  Create a MySQL database connection using SQLAlchem?

## Exercise 2: Create a Class-Based Model

1. Create a `Book` class that inherits from `Base`.
2. Define the following fields:

| Field Name | Data Type | Constraints       | Description         |
|------------|-----------|-------------------|---------------------|
| `id`       | Integer   | Primary Key       | Unique identifier   |
| `title`    | String    | Not nullable      | Title of the book   |
| `author`   | String    | Not nullable      | Author of the book  |
| `price`    | Float     | None              | Price of the book   |

3. Use `__tablename__` to set the table name as "books".
4. Write code to create the database table for this model.

## Exercise 3: Add a Relationship Between Models

1. Create a `Library` class with the following fields:

| Field Name | Data Type | Constraints       | Description               |
|------------|-----------|-------------------|---------------------------|
| `id`       | Integer   | Primary Key       | Unique identifier         |
| `name`     | String    | Not nullable      | Name of the library       |
| `location` | String    | Not nullable      | Location of the library   |

2. Add a one-to-many relationship between `Library` and `Book`.

| Relationship | Description                |
|--------------|----------------------------|
| `Library`    | A library can have many books. |
| `Book`       | A book belongs to one library. |

   - Use the `relationship` function to define this link.

3. Write code to create both tables in the database.

## Exercise 4: Insert Data Into Tables

1. Insert the following libraries into the database:

| Library ID | Name             | Location     |
|------------|------------------|--------------|
| 1          | Central Library  | Downtown     |
| 2          | East Side Library| East End     |

2. Insert the following books into the database:

| Book ID | Title                      | Author               | Price  | Library Name      |
|---------|----------------------------|----------------------|--------|-------------------|
| 1       | The Great Gatsby           | F. Scott Fitzgerald  | 10.99  | Central Library   |
| 2       | 1984                       | George Orwell        | 8.99   | East Side Library |
| 3       | To Kill a Mockingbird      | Harper Lee           | 12.99  | Central Library   |


## Exercise 5: Query the Database
1. Write a query to fetch all books and display their title, author, price, and the library name.
2. Write a query to fetch all libraries and display their name and the number of books they have.


## Exercise 6: Complex Query - Filtering and Aggregations

1. Write a query to fetch all libraries with more than one book.
2. Write a query to find the library with the highest total value of books.
3. Write a query to calculate the average price of books in each library.


## Exercise 7: Updating and Deleting Records

1. Write code to update the price of all books authored by "George Orwell" to $9.99.
2. Write code to delete all books in a library named "East Side Library".
3. Write code to delete a library if it has no books.


## Exercise 8: Subqueries and Nested Queries

1. Write a query to find the libraries that have books priced higher than the average price of all books.
2. Write a query to list all books along with a flag indicating whether their price is above or below the average price of all books.
3. Write a query to find the most expensive book in each library.


## Exercise 9: Advanced Relationships

1. Write a query to list all libraries with their books and their total value.
2. Write a query to fetch libraries that do not have any books.
3. Write a query to find authors who have written books in more than one library.