### Exercise 1: Import the required modules for working with SQLAlchemy and  Create a MySQL database connection using SQLAlchem?

In [ ]:
!pip3 install jupyter ipykernel --break-system-packages
!pip3 install ipykernel sqlalchemy pymysql  --break-system-packages
!pip3 install cryptography --break-system-packages

In [21]:
from sqlalchemy import create_engine, MetaData, Column, Integer, String, Float, ForeignKey, and_, or_, func
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

DATABASE_URL = "mysql+pymysql://root:root@localhost:3306/exercise_2_2"

engine = create_engine(DATABASE_URL, echo=True)

Base = declarative_base()

Session = sessionmaker(bind=engine)
session = Session()

metadata = MetaData()

## Exercise 2: Create a Class-Based Model

1. Create a `Book` class that inherits from `Base`.
2. Define the following fields:

| Field Name | Data Type | Constraints       | Description         |
|------------|-----------|-------------------|---------------------|
| `id`       | Integer   | Primary Key       | Unique identifier   |
| `title`    | String    | Not nullable      | Title of the book   |
| `author`   | String    | Not nullable      | Author of the book  |
| `price`    | Float     | None              | Price of the book   |

3. Use `__tablename__` to set the table name as "books".
4. Write code to create the database table for this model.

In [ ]:
class Book(Base):
    __tablename__ = "books"
    id = Column(Integer, primary_key=True)
    title = Column(String(50), nullable=False)
    author = Column(String(50), nullable=False)
    price = Column(Float)
    library_id = Column(Integer, ForeignKey("library.id"), nullable=False)

Base.metadata.create_all(engine)
#id, title, author, price , library_id

## Exercise 3: Add a Relationship Between Models

1. Create a `Library` class with the following fields:

| Field Name | Data Type | Constraints       | Description               |
|------------|-----------|-------------------|---------------------------|
| `id`       | Integer   | Primary Key       | Unique identifier         |
| `name`     | String    | Not nullable      | Name of the library       |
| `location` | String    | Not nullable      | Location of the library   |

2. Add a one-to-many relationship between `Library` and `Book`.

| Relationship | Description                |
|--------------|----------------------------|
| `Library`    | A library can have many books. |
| `Book`       | A book belongs to one library. |

   - Use the `relationship` function to define this link.

3. Write code to create both tables in the database.

In [ ]:
class Library(Base):
    __tablename__ = "library"
    id = Column(Integer, primary_key=True)
    name = Column(String(100), nullable=False)
    location = Column(String(100), nullable=False)
    relationship(Book, back_populates='library')

Base.metadata.create_all(engine)       
#id, name, location, book_id, relation

## Exercise 4: Insert Data Into Tables

1. Insert the following libraries into the database:

| Library ID | Name             | Location     |
|------------|------------------|--------------|
| 1          | Central Library  | Downtown     |
| 2          | East Side Library| East End     |

2. Insert the following books into the database:

| Book ID | Title                      | Author               | Price  | Library Name      |
|---------|----------------------------|----------------------|--------|-------------------|
| 1       | The Great Gatsby           | F. Scott Fitzgerald  | 10.99  | Central Library   |
| 2       | 1984                       | George Orwell        | 8.99   | East Side Library |
| 3       | To Kill a Mockingbird      | Harper Lee           | 12.99  | Central Library   |

In [ ]:
#id, title, author, price , library_id     
#id, name, location
library1 = Library(id=1, name="Central Library", location="Downtown")
library2 = Library(id=2, name="East Side Library", location="East End")

session.add(library1)
session.add(library2)

session.commit()

In [ ]:
library2 = Library(id=3, name="East Side Library", location="East End")

session.add(library2)
session.commit()

In [ ]:
books1 = Book(id=1, title="The Great Gastby", author="F. Scott Fitzgerald", price=10.99, library_id=1)
books2 = Book(id=2, title="1984", author="George Orwell", price=8.99, library_id=2)
books3 = Book(id=3, title="The Kill a Mockingbird", author="Harper Lee", price=12.99, library_id=1)

session.add(books1)
session.add(books2)
session.add(books3)

session.commit()

In [ ]:
books2 = Book(id=2, title="1984", author="George Orwell", price=8.99, library_id=2)
session.add(books2)

session.commit()


## Exercise 5: Query the Database
1. Write a query to fetch all books and display their title, author, price, and the library name.
2. Write a query to fetch all libraries and display their name and the number of books they have.

In [ ]:
from sqlalchemy.sql import func 
#1
all_books = session.query(Book, Library).filter(Book.library_id == Library.id).all() 

for b, l in all_books:
    #display(c, i)
    print ("title: {}\n author: {}\n price: {}\n Library Name: {}\n".format(b.title, b.author, b.price, l.name))

#library_all = session.query(Book, Library).filter(Library.id == Book.library_id).all()
                           
#for b, l in library_all:
    
#    print(l.id, l.name, func.count(b.library_id))
    
""" 
# Explanation of the Query
# This query retrieves the names of libraries along with the number of books in each library:
# - session.query(Library.name, func.count(Book.id)): Selects the library name and counts the number of books.
# - .join(Book): Joins the Library table with the Book table based on their relationship.
# - .group_by(Library.id): Groups the results by library, ensuring the count is calculated per library.
# The SQL equivalent is:
# sql
# SELECT libraries.name, COUNT(books.id)
# FROM libraries
# JOIN books ON libraries.id = books.library_id
# GROUP BY libraries.id;
# 
# This ensures each library's book count is calculated accurately.


"""  
#2  
libraries_with_book_count = session.query(Library.name, func.count(Book.id)).join(Book).group_by(Library.id).all()

display(libraries_with_book_count)


## Exercise 6: Complex Query - Filtering and Aggregations

1. Write a query to fetch all libraries with more than one book.
2. Write a query to find the library with the highest total value of books.
3. Write a query to calculate the average price of books in each library.

In [ ]:
from sqlalchemy.sql import func 
#1
all_library_gt_2_books = session.query(Library.name, func.count(Book.id)).join(Book).group_by(Library.id).having(func.count(Book.id) > 1).all()

display(all_library_gt_2_books)

""" 
 lib1, lib2, lib3
 10    59     87
 
 [1,132,1313], [13212, 31321, 1231],  [1231, 123, 11231]
 avg()           avg()                    avg()
"""
#2
books_with_highst_values = session.query(Library.name, func.round(func.sum(Book.price), 2).label("total_value")).join(Book, Library.id == Book.library_id).group_by(Library.id).order_by(func.sum(Book.price).desc()).first()

if books_with_highst_values:
    display(f"Librayry: {books_with_highst_values.name}, Total Value: {books_with_highst_values.total_value}")

In [ ]:
#3
average_price_of_books = session.query(Library.name, func.round(func.avg(Book.price), 2)).join(Book).group_by(Library.id).all()

display(average_price_of_books)


## Exercise 7: Updating and Deleting Records

1. Write code to update the price of all books authored by "George Orwell" to $9.99.
2. Write code to delete all books in a library named "East Side Library".
3. Write code to delete a library if it has no books. --> not solved

In [ ]:
from sqlalchemy import Function 
#1
def book_author(author_name):
    session.query(Book).filter(Book.author == author_name).update({'price': 9.99})
    session.commit()
    
book_author('George Orwell')

#2
def delete_books(library_id):
    delete_lib = session.query(Book).filter(Book.library_id == library_id).one_or_none()
    
    if delete_lib:
        session.delete(delete_lib)
        session.commit()
        display("deleted successfully")
    else:
        print("there is no Book with library_id:", library_id)
    
        
delete_books(2)

#3
#uery = query.filter(~table_a.id.in_(subquery))
#query = query.filter(table_a.id.notin_(subquery))
def delete_librarys():
    delete_library = session.query(Library).outerjoin(Book, Library.id == Book.library_id).group_by(Library.id).having(func.count(Book.id) == 0).all()
    
    for library in delete_library:
        session.delete(library)
        session.commit()
    
delete_librarys()


## Exercise 8: Subqueries and Nested Queries

1. Write a query to find the libraries that have books priced higher than the average price of all books.
2. Write a query to list all books along with a flag indicating whether their price is above or below the average price of all books.
3. Write a query to find the most expensive book in each library. --> not solved

In [ ]:
#1
books_price_over_avg = session.query(Library.name, Book.price).join(Book).where(Book.price > session.query(func.avg(Book.price))).order_by(Library.id).all()

display(books_price_over_avg)

#2
books_over_price_avg = session.query(Book.title, Book.price).where(Book.price > session.query(func.avg(Book.price))).all()
books_under_price_avg = session.query(Book.title, Book.price).where(Book.price < session.query(func.avg(Book.price))).all()
#books_price_title = session.query(Book.title, Book.price).all()
display("Books over average price: ", books_over_price_avg)

display("Books under average price: ", books_under_price_avg)

#3
subquery = session.query(Book.library_id , func.max(Book.price).label("max_price")).group_by(Book.library_id).subquery()

most_expensive_books = (session.query(Library.name.label("library_name"),
                                      Book.title.label("book_title"),
                                      subquery.c.max_price
                                      )
                        .join(subquery, Library.id == subquery.c.library_id)
                        .join(Book,( Book.library_id == subquery.c.library_id) & (Book.price == subquery.c.max_price)).all()                       
                        )

for result in most_expensive_books:
    print(f"Library: {result.library_name}, Book: {result.book_title}, Price: {result.max_price}")

#display("Expensive Books in each Library: ", expensive_books)


## Exercise 9: Advanced Relationships

1. Write a query to list all libraries with their books and their total value.
2. Write a query to fetch libraries that do not have any books.
3. Write a query to find authors who have written books in more than one library.

In [ ]:
#all_librarys_with_books = session.query(Library.name, Book.title, func.sum(Book.price)).join(Book).group_by(Book.id).all()

#display(all_librarys_with_books)
#1
all_librarys_with_books = session.query(Library.name, Book.title, func.sum(Book.price).over(partition_by=Library.id).label("total_value")).join(Book).group_by(Book.id).all()


for record in all_librarys_with_books:
    print(f"Library: {record.name}, Book: {record.title}, Total Value: {record.total_value}") 

#2
libraries_without_books = session.query(Library).outerjoin(Book, Library.id == Book.library_id).group_by(Library.id).having(func.count(Book.id) == 0).all()

for library in libraries_without_books:
    print(f"Library with no books: { library.name}")
    
#3
authors_in_multiple_libraries = (
    session.query(Book.author)
    .distinct()
    .join(Library, Book.library_id == Library.id)
    .group_by(Book.author)
    .having(func.count(Book.library_id.distinct()) > 1)
    .all()
)
for author in authors_in_multiple_libraries:
    print(f"Author in multiple libraries: {author.author}")