### Exercise 1: Import the required modules for working with SQLAlchemy.

In [ ]:
!pip3 install jupyter ipykernel --break-system-packages
!pip3 install ipykernel sqlalchemy pymysql  --break-system-packages

In [ ]:
# Install required libraries (Run this if not already installed)
!pip3 install ipykernel sqlalchemy pymysql  --break-system-packages

### Exercise 2: Create a MySQL database connection using SQLAlchemy.
Connect to a MySQL database with the table users:


| **Field**    | **Data Type** | **Description**         | **Example**       |
|--------------|---------------|-------------------------|-------------------|
| Username     | String        | The username for login | `your_username`   |
| Password     | String        | The password for login | `your_password`   |
| Database     | String        | The name of the database | `your_database`  |

In [5]:
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base, sessionmaker

DATABASE_URL = "mysql+pymysql://root:root@localhost:3306/exercise_2_1"

engine=create_engine(DATABASE_URL, echo=True)
Base = declarative_base()

Session = sessionmaker(bind=engine)
session= Session()

### Exercise 3: Define a table called `products` with the following columns:
 

| Column Name   | Data Type | Constraints        | Description                   |
|---------------|-----------|--------------------|-------------------------------|
| `product_id`  | Integer   | Primary Key        | Unique identifier for a product |
| `name`        | String(100) | Not Null         | Name of the product           |
| `price`       | Float     | Not Null          | Price of the product          |

In [ ]:
from sqlalchemy import MetaData, text, Table, Column, Integer, Float, String, ForeignKey 

metadata = MetaData()

products_table = Table(
    "products",
    metadata,
    Column("product_id", Integer, primary_key=True),
    Column("name", String(50), nullable=False),
    Column("price", Float, nullable=False)
)

metadata.create_all(engine)

display("Tables created successfully")

### Exercise 4: Define a table called `orders` with the following columns:

| Column Name   | Data Type | Constraints                      | Description                              |
|---------------|-----------|----------------------------------|------------------------------------------|
| `order_id`    | Integer   | Primary Key                      | Unique identifier for an order           |
| `product_id`  | Integer   | Foreign Key (`products.product_id`) | References the product being ordered     |
| `quantity`    | Integer   | Not Null                         | Quantity of the product ordered

In [ ]:
orders_table = Table(
    "orders",
    metadata,
    Column("order_id", Integer, primary_key=True),
    Column("product_id", Integer, ForeignKey("products.product_id")),
    Column("quantity", Integer, nullable=False)
) 

metadata.create_all(engine)

display("Table created successfully")

### Exercise 5: Insert the following rows into the `products` table: 
 

| `product_id` | `name`       | `price`  |
|--------------|--------------|----------|
| 1            | Laptop       | 1000.00  |
| 2            | Smartphone   | 500.00   |
| 3            | Tablet       | 300.00   |

In [ ]:
with engine.connect() as conn:
    conn.execute(text("INSERT INTO products(product_id, name, price) VALUES(1, 'Laptop', 1000.00), (2, 'Smartphone', 500.00), (3, 'Tablet', 300.00)"))
    conn.commit()

### Exercise 6: Insert the following rows into the `orders` table: 
 

| `order_id` | `product_id` | `quantity` |
|------------|--------------|------------|
| 1          | 1            | 2          |
| 2          | 2            | 5          |
| 3          | 3            | 1          |

In [ ]:
with engine.connect() as conn:
    conn.execute(text("INSERT INTO orders(order_id, product_id, quantity) VALUES(1, 1, 2), (2, 2, 5), (3, 3, 1)"))
    conn.commit()

### Exercise 7: Query all products that have a price greater than 400.

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM products WHERE price > 400"))

    for row in result:
        display(row)
        #conn.commit()

### Exercise 8: Find all orders where the quantity is greater than 1 and fetch the corresponding product names.

In [ ]:
with engine.connect() as conn:
    result_quantity_gt_1=conn.execute(text("""SELECT order_id, quantity, products.name
                      FROM orders
                      LEFT JOIN products ON
                      orders.product_id = products.product_id
                      WHERE quantity > 1"""))
    display("id, quantity, name")
    for row in result_quantity_gt_1:
        display(row)

### Exercise 9: Update the price of the product with `product_id=2` to `550.00`.

In [ ]:
with engine.connect() as conn:
    conn.execute(text("UPDATE products SET price = 550.00 WHERE product_id=2"))
    conn.commit()

### Exercise 10: Delete orders where the quantity is less than 2.

In [ ]:
with engine.connect() as conn:
    conn.execute(orders_table.delete().where(orders_table.c.quantity < 2))
    conn.commit()

### Exercise 11: Execute a raw SQL query to fetch all rows from the `products` table.

In [ ]:
rusult_products = session.execute(text("SELECT * FROM products"))

for row in rusult_products:
    display(row)
session.commit()

### Exercise 12: Execute a raw SQL query to calculate the total quantity of all orders.

In [6]:
total_qualtity = session.execute(text("SELECT SUM(quantity) FROM orders"))
for row in total_qualtity:
    display(f"total_qualtity: {row}")
session.commit()

2024-12-10 21:01:46,816 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 21:01:46,819 INFO sqlalchemy.engine.Engine SELECT SUM(quantity) FROM orders
2024-12-10 21:01:46,821 INFO sqlalchemy.engine.Engine [cached since 103.7s ago] {}

"total_qualtity: (Decimal('7'),)"

2024-12-10 21:01:46,834 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
from sqlalchemy import func
total_qualtity = session.query(func.sum(orders_table.c.quantity).label('total_qualtity')).all()
#sum = 0
session.execute(total_qualtity)
display(total_qualtity)

session.commit()

2024-12-16 15:22:55,614 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-16 15:22:55,619 INFO sqlalchemy.engine.Engine SELECT sum(orders.quantity) AS total_qualtity
FROM orders
2024-12-16 15:22:55,622 INFO sqlalchemy.engine.Engine [generated in 0.00310s] {}

ArgumentError: Executable SQL or text() construct expected, got [(Decimal('7'),)].