### Exercise 1: Import the required modules for working with SQLAlchemy.

In [1]:
# Install required libraries (Run this if not already installed)
%pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (2.0.36)
Requirement already satisfied: pymysql in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

### Exercise 2: Create a MySQL database connection using SQLAlchemy.
Connect to a MySQL database with the table users:


| **Field**    | **Data Type** | **Description**         | **Example**       |
|--------------|---------------|-------------------------|-------------------|
| Username     | String        | The username for login | `your_username`   |
| Password     | String        | The password for login | `your_password`   |
| Database     | String        | The name of the database | `your_database`  |

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base, sessionmaker

DATABASE_URL = "mysql+pymysql://root:root@localhost:3306/exercise_2_1"

engine=create_engine(DATABASE_URL, echo=True)
Base = declarative_base()

Session = sessionmaker(bind=engine)
session= Session()

### Exercise 3: Define a table called `products` with the following columns:
 

| Column Name   | Data Type | Constraints        | Description                   |
|---------------|-----------|--------------------|-------------------------------|
| `product_id`  | Integer   | Primary Key        | Unique identifier for a product |
| `name`        | String(100) | Not Null         | Name of the product           |
| `price`       | Float     | Not Null          | Price of the product          |

In [4]:
from sqlalchemy import MetaData, text, Table, Column, Integer, Float, String, ForeignKey 

metadata = MetaData()

products_table = Table(
    "products",
    metadata,
    Column("product_id", Integer, primary_key=True),
    Column("name", String(50), nullable=False),
    Column("price", Float, nullable=False)
)

metadata.create_all(engine)

display("Tables created successfully")

2024-12-10 19:20:59,966 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-12-10 19:20:59,967 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-10 19:20:59,970 INFO sqlalchemy.engine.Engine SELECT @@sql_mode

2024-12-10 19:20:59,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-10 19:20:59,974 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-12-10 19:20:59,975 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-10 19:20:59,978 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 19:20:59,979 INFO sqlalchemy.engine.Engine DESCRIBE `exercise_2_1`.`products`
2024-12-10 19:20:59,979 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-10 19:20:59,986 INFO sqlalchemy.engine.Engine COMMIT

'Tables created successfully'

### Exercise 4: Define a table called `orders` with the following columns:

| Column Name   | Data Type | Constraints                      | Description                              |
|---------------|-----------|----------------------------------|------------------------------------------|
| `order_id`    | Integer   | Primary Key                      | Unique identifier for an order           |
| `product_id`  | Integer   | Foreign Key (`products.product_id`) | References the product being ordered     |
| `quantity`    | Integer   | Not Null                         | Quantity of the product ordered

In [ ]:
orders_table = Table(
    "orders",
    metadata,
    Column("order_id", Integer, primary_key=True),
    Column("product_id", Integer, ForeignKey("products.product_id")),
    Column("quantity", Integer, nullable=False)
) 

metadata.create_all(engine)

display("Table created successfully")

### Exercise 5: Insert the following rows into the `products` table: 
 

| `product_id` | `name`       | `price`  |
|--------------|--------------|----------|
| 1            | Laptop       | 1000.00  |
| 2            | Smartphone   | 500.00   |
| 3            | Tablet       | 300.00   |

In [ ]:
with engine.connect() as conn:
    conn.execute(text("INSERT INTO products(product_id, name, price) VALUES(1, 'Laptop', 1000.00), (2, 'Smartphone', 500.00), (3, 'Tablet', 300.00)"))
    conn.commit()

### Exercise 6: Insert the following rows into the `orders` table: 
 

| `order_id` | `product_id` | `quantity` |
|------------|--------------|------------|
| 1          | 1            | 2          |
| 2          | 2            | 5          |
| 3          | 3            | 1          |

In [ ]:
with engine.connect() as conn:
    conn.execute(text("INSERT INTO orders(order_id, product_id, quantity) VALUES(1, 1, 2), (2, 2, 5), (3, 3, 1)"))
    conn.commit()

### Exercise 7: Query all products that have a price greater than 400.

In [10]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM products WHERE price > 400"))

    for row in result:
        display(row)
        #conn.commit()

2024-12-10 11:29:55,959 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 11:29:55,961 INFO sqlalchemy.engine.Engine SELECT * FROM products WHERE price > 400
2024-12-10 11:29:55,962 INFO sqlalchemy.engine.Engine [cached since 161.7s ago] {}

(1, 'Laptop', 1000.0)

(2, 'Smartphone', 500.0)

2024-12-10 11:29:55,971 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 8: Find all orders where the quantity is greater than 1 and fetch the corresponding product names.

In [5]:
with engine.connect() as conn:
    result_quantity_gt_1=conn.execute(text("""SELECT order_id, quantity, products.name
                      FROM orders
                      LEFT JOIN products ON
                      orders.product_id = products.product_id
                      WHERE quantity > 1"""))
    display("id, quantity, name")
    for row in result_quantity_gt_1:
        display(row)

2024-12-10 19:21:11,963 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 19:21:11,964 INFO sqlalchemy.engine.Engine SELECT order_id, quantity, products.name
                      FROM orders
                      LEFT JOIN products ON
                      orders.product_id = products.product_id
                      WHERE quantity > 1
2024-12-10 19:21:11,965 INFO sqlalchemy.engine.Engine [generated in 0.00186s] {}

'id, quantity, name'

(1, 2, 'Laptop')

(2, 5, 'Smartphone')

2024-12-10 19:21:11,975 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 9: Update the price of the product with `product_id=2` to `550.00`.

In [16]:
with engine.connect() as conn:
    conn.execute(text("UPDATE products SET price = 550.00 WHERE product_id=2"))
    conn.commit()

2024-12-10 13:32:09,819 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 13:32:09,820 INFO sqlalchemy.engine.Engine UPDATE products SET price = 550.00 WHERE product_id=2
2024-12-10 13:32:09,821 INFO sqlalchemy.engine.Engine [generated in 0.00287s] {}
2024-12-10 13:32:09,852 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 10: Delete orders where the quantity is less than 2.

In [22]:
with engine.connect() as conn:
    conn.execute(orders_table.delete().where(orders_table.c.quantity < 2))
    conn.commit()

2024-12-10 14:02:16,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 14:02:16,577 INFO sqlalchemy.engine.Engine DELETE FROM orders WHERE orders.quantity < %(quantity_1)s
2024-12-10 14:02:16,578 INFO sqlalchemy.engine.Engine [generated in 0.00223s] {'quantity_1': 2}
2024-12-10 14:02:16,585 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 11: Execute a raw SQL query to fetch all rows from the `products` table.

In [53]:
rusult_products = session.execute(text("SELECT * FROM products"))

for row in rusult_products:
    display(row)
session.commit()

2024-12-10 15:23:19,001 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-10 15:23:19,003 INFO sqlalchemy.engine.Engine SELECT * FROM products
2024-12-10 15:23:19,003 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}

(1, 'Laptop', 1000.0)

(2, 'Smartphone', 550.0)

(3, 'Tablet', 300.0)

2024-12-10 15:23:19,014 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 12: Execute a raw SQL query to calculate the total quantity of all orders.

In [ ]:
total_qualtity = session.execute(text("SELECT SUM(quantity) FROM orders"))
for row in total_qualtity:
    display(f"total_qualtity: {row}")
session.commit()

In [ ]:
from sqlalchemy import func
total_qualtity = session.query(func.sum(orders_table.c.quantity).label('total_qualtity'))
#sum = 0
session.execute(total_qualtity)
display(total_qualtity)

session.commit()