In [ ]:
# Install necessary packages
#%pip install ipython-sql prettytable
#%pip install jupyter ipython-sql

# Load the ipython-sql extension
#%load_ext sql

# Connect to the SQLite database
#%sql sqlite:///employees_db.db

%pip install prettytable ipython-sql 
%load_ext sql
 
%sql mysql+mysqlconnector://root:root@localhost:3306/test
# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql

SHOW TABLES;

In [ ]:
%%sql
CREATE TABLE employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    hire_date DATE
);

In [ ]:
%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [ ]:
%%sql
CREATE TABLE department(
    department_id INTEGER PRIMARY KEY,
    department_name TEXT
);

In [ ]:
%%sql
CREATE TABLE employee_departments(
    id INTEGER PRIMARY KEY,
    emlpoyee_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY(emlpoyee_id) REFERENCES employees(employee_id),
    FOREIGN KEY(department_id) REFERENCES department(department_id)
);

In [ ]:
%%sql
ALTER TABLE employees ADD COLUMN email TEXT;

In [ ]:
%%sql
SELECT * FROM sqlite_master WHERE type= 'table';

In [ ]:
%%sql
ALTER TABLE emlpoyees RENAME TO employees;

In [ ]:
%%sql
ALTER TABLE department RENAME TO departments;

In [ ]:
%%sql
ALTER TABLE employees DROP COLUMN email;

In [29]:
%%sql
INSERT INTO employees (first_name, last_name, hire_date, email)
VALUES('John','Doe',"2023.02.16",'john.doe@sqlitetutorial.net'),
('Johny','Doe',"2023.04.10",'john.doe@sqlitetutorial.net'),
('David','Brown',"2024.06.18",'david.brown@sqlitetutorial.net'),
('Lisa','Smith',"2024.05.23",'lisa.smith@sqlitetutorial.net');

 * sqlite:///employees_db.db
4 rows affected.

[]

In [ ]:
%%sql
INSERT INTO departments(department_name)VALUES("HR"), ("Finance"), ("IT"), ("Marketing");

In [ ]:
%%sql
INSERT INTO employee_departments(emlpoyee_id, department_id) VALUES(2, 3), (1, 4), (1, 2), (4, 4);

In [ ]:
%%sql

DROP VIEW IF EXISTS employees_department_view;

CREATE VIEW employees_department_view AS
SELECT e.first_name, e.last_name, e.hire_date, d.department_name
FROM employees e
INNER JOIN employee_departments ed ON e.employee_id = ed.employee_id
INNER JOIN departments d ON d.department_id = ed.department_id;

In [67]:
%%sql
SELECT * FROM employees_dipartment_view;

 * sqlite:///employees_db.db
(sqlite3.OperationalError) no such column: e.emlpoyee_id
[SQL: SELECT * FROM employees_dipartment_view;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql
DELETE FROM departments WHERE department_id = 8;

In [ ]:
%%sql
CREATE INDEX index_employees_last_name ON employees(last_name);

In [ ]:
%%sql
PRAGMA index_list('employees');
#SELECT * FROM sqlite_master WHERE type = 'index';

In [ ]:
%%sql
DROP INDEX [IF EXISTS] index_name;

In [ ]:
%%sql
SELECT * FROM employees;