# SQL DDL and DML Exercises

This notebook contains SQL exercises for creating and manipulating database tables using DDL and DML commands.

In [1]:
# Install necessary packages
%pip install jupyter ipython-sql prettytable pymysql mysqlclient

# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database | unix connection ip port | unix socket connection :: localhost = 127.0.0.1
%sql mysql+pymysql://root:root@localhost:3306

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Requirement already satisfied: jupyter in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: ipython-sql in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (3.12.0)
Requirement already satisfied: pymysql in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: mysqlclient in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Requirement already satisfied: notebook in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter) (7.2.2)
Requirement already satisfied: jupyter-console in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter) (6.6.3)
Requirement already satisfied: nbconvert in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter) (7.16.4)
Requirement already satisfied: ipykernel in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter) (6.29.5)
Requirement already satisfied: ipywidgets in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter) (8.1.5)
Requirement already satisfied: jupyterlab in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter) (4.2.6)
Requirement already satisfied: ipython in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: comm>=0.1.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (1.8.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (0.1.7)
Requirement already satisfied: nest-asyncio in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (1.6.0)
Requirement already satisfied: packaging in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (24.1)
Requirement already satisfied: psutil in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (6.1.0)
Requirement already satisfied: pyzmq>=24 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (26.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipykernel->jupyter) (5.14.3)
Requirement already satisfied: decorator in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: colorama in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: widgetsnbextension~=4.0.12 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipywidgets->jupyter) (4.0.13)
Requirement already satisfied: jupyterlab-widgets~=3.0.12 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from ipywidgets->jupyter) (3.0.13)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (0.27.2)
Requirement already satisfied: jinja2>=3.0.3 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (3.1.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab->jupyter) (75.5.0)
Requirement already satisfied: beautifulsoup4 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (6.2.0)
Requirement already satisfied: defusedxml in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (1.5.1)
Requirement already satisfied: tinycss2 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbconvert->jupyter) (1.4.0)
Requirement already satisfied: webencodings in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter) (0.5.1)
Requirement already satisfied: anyio in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.25.0->jupyterlab->jupyter) (4.6.2.post1)
Requirement already satisfied: certifi in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.25.0->jupyterlab->jupyter) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.25.0->jupyterlab->jupyter) (1.0.7)
Requirement already satisfied: idna in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.25.0->jupyterlab->jupyter) (3.10)
Requirement already satisfied: sniffio in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.25.0->jupyterlab->jupyter) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter) (0.14.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (4.3.6)
Requirement already satisfied: pywin32>=300 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (308)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (23.1.0)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (0.5.3)
Requirement already satisfied: overrides>=5.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (0.21.0)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (2.0.14)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (1.8.0)
Requirement already satisfied: babel>=2.10 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (0.9.28)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (4.23.0)
Requirement already satisfied: requests>=2.31 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from nbformat>=5.7->nbconvert->jupyter) (2.20.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->nbconvert->jupyter) (2.6)
Requirement already satisfied: executing>=1.2.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: argon2-cffi-bindings in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (21.2.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (0.21.0)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (6.0.2)
Requirement already satisfied: rfc3339-validator in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter) (2.2.3)
Requirement already satisfied: fqdn in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (1.5.1)
Requirement already satisfied: isoduration in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (3.0.0)
Requirement already satisfied: uri-template in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (24.11.1)
Requirement already satisfied: cffi>=1.0.1 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (1.17.1)
Requirement already satisfied: pycparser in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (2.22)
Requirement already satisfied: arrow>=0.15.0 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in c:\users\kehase\appdata\local\programs\python\python313\lib\site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter) (2.9.0.20241003)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%%sql

CREATE DATABASE IF NOT EXISTS exercise_2;
USE exercise_2;

 * mysql+pymysql://root:***@localhost:3306
1 rows affected.
0 rows affected.

[]

### Question 1: Create Table
Create a table named `employees` with the following columns:

| Column Name    | Data Type |
|----------------|-----------|
| employee_id    | INTEGER   |
| first_name     | TEXT      |
| last_name      | TEXT      |
| department_id  | INTEGER   |
| salary         | DECIMAL   |

Make `employee_id` the primary key.

### Solution

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS employees(
    employee_id INTEGER NOT NULL AUTO_INCREMENT,
    firs_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    department_id INTEGER,
    salary DECIMAL,
    PRIMARY KEY (employee_id)
);

In [ ]:
%%sql
ALTER TABLE employees ADD FOREIGN KEY (department_id) REFERENCES departments (department_id);

### Question 2: Create Another Table
Create a table named `projects` with the following columns:

| Column Name     | Data Type |
|-----------------|-----------|
| project_id      | INTEGER   |
| project_name    | TEXT      |
| department_id   | INTEGER   |
| start_date      | DATE      |
| end_date        | DATE      |

Make `project_id` the primary key.

### Solution

In [ ]:
%%sql
CREATE TABLE projects(
    project_id INTEGER NOT NULL AUTO_INCREMENT,
    project_name TEXT NOT NULL,
    department_id INTEGER,
    start_date DATE,
    end_date DATE,
    PRIMARY KEY (project_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)

);

In [ ]:
%%sql
CREATE TABLE employees_projects(
    id INTEGER NOT NULL AUTO_INCREMENT,
    employee_id INTEGER,
    project_id INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (employee_id) REFERENCES employees (employee_id),
    FOREIGN KEY (project_id) REFERENCES projects (project_id)
);

In [56]:
%%sql

INSERT INTO employees_projects (employee_id, project_id) VALUES(2, 4);

 * mysql+pymysql://root:***@localhost:3306
1 rows affected.

[]

In [ ]:
%%sql
INSERT INTO projects(project_name, department_id, start_date, end_date)
VALUES("Backup",100,"2024-11-15","2024-12-15"),
      ("Storage",101,"2024-10-01","2024-11-01"),
      ("Networking",101,"2024-08-15","2024-09-30"),
      ("Virtualize",102,"2024-10-15","2024-12-15");

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS departments(
    department_id INTEGER NOT NULL AUTO_INCREMENT,
    department_name TEXT NOT NULL,
    PRIMARY KEY (department_id)
);

In [ ]:
%%sql
ALTER TABLE departments AUTO_INCREMENT=100;

In [23]:
%%sql
INSERT INTO departments (department_name) VALUES("HD"),("IT"),("Managment"),("Service");

 * mysql+pymysql://root:***@localhost:3306
4 rows affected.

[]

### Question 3: Alter Table
Add a column `status` (TEXT) to the `projects` table.

### Solution

In [ ]:
%%sql
ALTER TABLE projects ADD status TEXT;

### Question 4: Drop Table
Drop the `projects` table from the database.

### Solution

In [ ]:
%%sql
DROP TABLE projects;

## Section 2: DML Questions

### Question 1: Insert Data
Insert the following employees into the `employees` table:

| employee_id | first_name | last_name | department_id | salary  |
|-------------|------------|-----------|---------------|---------|
| 1           | John       | Doe       | 101           | 50000   |
| 2           | Jane       | Smith     | 102           | 60000   |
| 3           | Alice      | Johnson   | 101           | 55000   |

### Solution

In [ ]:
%%sql

INSERT INTO employees(firs_name, last_name, department_id, salary)
VALUES("John","Doe",101,50000),
      ("Jane","Smith",102,60000),
      ("Alice","Johnson",101,55000)

### Question 2: Update Data
Increase the salary of employees in Department `101` by 10%.

### Solution

In [ ]:
%%sql

UPDATE employees SET salary = salary + (salary * 10/100)
WHERE department_id = 101;

### Question 3: Delete Data
Delete all employees with a salary below `55000`.

### Solution

In [ ]:
%%sql
DELETE FROM employees WHERE salary < 55000;

### Question 4: Join Data
Find the `first_name`, `last_name`, and `project_name` of employees working on projects in their respective departments.

### Solution

In [ ]:
%%sql
ALTER TABLE employees 
RENAME COLUMN firs_name TO first_name;

### Question 5: Aggregate Functions
Find the average salary of employees in each department.

### Solution

In [ ]:
%%sql
SELECT AVG(salary)
FROM employees
GROUP BY department_id;

### Question 6: Subquery
Find the `first_name` and `last_name` of employees whose salary is above the average salary of all employees.

### Solution

In [ ]:
%%sql

SELECT first_name, last_name FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);

### Question 7: Left Join
Retrieve the `first_name` and `last_name` of employees who are not assigned to any projects.

### Solution

In [28]:
%%sql
Select * from employees;

 * mysql+pymysql://root:***@localhost:3306
3 rows affected.

[(1, 'John', 'Doe', 101, Decimal('55000')),
 (2, 'Jane', 'Smith', 102, Decimal('60000')),
 (3, 'Alice', 'Johnson', 101, Decimal('60500'))]

In [29]:
%%sql
Select * from departments;

 * mysql+pymysql://root:***@localhost:3306
4 rows affected.

[(100, 'HD'), (101, 'IT'), (102, 'Managment'), (103, 'Service')]

In [30]:
%%sql
Select * from projects;

 * mysql+pymysql://root:***@localhost:3306
4 rows affected.

[(1, 'Backup', 100, datetime.date(2024, 11, 15), datetime.date(2024, 12, 15)),
 (2, 'Storage', 101, datetime.date(2024, 10, 1), datetime.date(2024, 11, 1)),
 (3, 'Networking', 101, datetime.date(2024, 8, 15), datetime.date(2024, 9, 30)),
 (4, 'Virtualize', 102, datetime.date(2024, 10, 15), datetime.date(2024, 12, 15))]

In [58]:
%%sql
SELECT * FROM employees_projects;

 * mysql+pymysql://root:***@localhost:3306
5 rows affected.

[(1, 2, 1), (2, 3, 4), (3, 2, 3), (4, 3, 2), (5, 2, 4)]

In [3]:
%%sql
SELECT employees.first_name, employees.last_name FROM employees 
WHERE employees.employee_id NOT IN (SELECT employee_id FROM employees_projects);

 * mysql+pymysql://root:***@localhost:3306
1 rows affected.

[('John', 'Doe')]

### Question 8: Combined Query
Retrieve the list of projects along with the number of employees working on each project. Include projects with zero employees.

### Solution

In [63]:
%%sql
SELECT projects.project_name, COUNT(employees.employee_id) AS "number of employees on projects" FROM employees_projects 
INNER JOIN projects ON employees_projects.project_id = projects.project_id
INNER JOIN employees ON employees_projects.employee_id = employees.employee_id
GROUP BY projects.project_name;

 * mysql+pymysql://root:***@localhost:3306
4 rows affected.

[('Virtualize', 2), ('Storage', 1), ('Backup', 1), ('Networking', 1)]